<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
 <copyright>

Copyright (c) 2014 Fraunhofer FOKUS
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
Max Bureck

 </copyright>

 $Id$
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.omg.org/spec/BPMNProfile/20121112/"
            class="org.eclipse.upr.bpmnprof.BpmnprofPackage"
            genModel="model/bpmn.profile.genmodel"/>
   </extension>

	<extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://BPMN_PROF/"
            target="platform:/plugin/org.eclipse.upr.bpmn/model/">
      </mapping>
   </extension>
   
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://BPMN_PROF/model/bpmn.profile.uml#_wrG1oHwkEeOWLfCz6n-rOA"
            uri="http://www.omg.org/spec/BPMNProfile/20121112/">
      </profile>
   </extension>

</plugin>
