<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated utp.profile -->
      <package
            uri="http://www.omg.org/spec/UTP/20120801/utp.xmi"
            class="org.eclipse.upr.utp.UTPPackage"
            genModel="model/utp.profile.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.upr.utp.util.UTPResourceFactoryImpl"
            type="UTP">
      </parser>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://UTP/"
            target="platform:/plugin/org.eclipse.upr.utp/model/">
      </mapping>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated utptypes -->
      <package
            uri="http://www.omg.org/spec/UTP/20120801/utptypes.xmi"
            class="org.eclipse.upr.utptypes.UTPLibPackage"
            genModel="model/utptypes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated utptypes -->
      <parser
            type="utplib"
            class="org.eclipse.upr.utptypes.util.UTPLibResourceFactoryImpl"/>
   </extension>
   
      <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://UTP/utp.profile.uml#_iCl4wOVMEeG84fBOY39c0g"
            uri="http://www.omg.org/spec/UTP/20120801/utp.xmi">
      </profile>
   </extension>
   
      <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://UTP/utptypes.uml#_nGjLwOVVEeG84fBOY39c0g"
            uri="http://www.omg.org/spec/UTP/20120801/utptypes.xmi">
      </profile>
   </extension>
   
</plugin>
